.container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 20px 10px;
}

.header .super-title {
    margin: 0px 0px 20px 0px;
    font-size: 55px;
}

.header .paragraph {
    margin: 0px;
    font-size: 22px;
}

.container-header > img {
    width: 120px;
}

@media only screen and (max-width: 600px) {
    .header .super-title {
        font-size: 45px;
        text-align: center;
    }
    .header .paragraph {
        font-size: 20px;
        text-align: center;
    }

    .container-header {
        margin-top: 10px;
    }
}